body {
	padding: 4rem 2rem;

	font-size: 1.6em;

	color: #444;
}

h1 {
	font-size: 4rem;
}

ol {
	list-style-position: outside;
}

details p {
	margin: 0;

	font-weight: normal;
}

li a {
	color:#444;
}

.active {
	font-weight: bold;
}

.error {
	color: mediumvioletred;
}