<!doctype html>
<html lang=en>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>502 Bad Gateway – Spork</title>
<link rel=stylesheet href="{{assetPath "/normalize.min.css"}}">
<link rel=stylesheet href="{{assetPath "/skeleton.min.css"}}">
<link rel=stylesheet href="{{assetPath "/error.css"}}">
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
<main class=container>
<h1>502 Bad Gateway</h1>
<p>The Audacious Media Player is not currently running. Please <a href=/launch>launch Audacious</a> and try again.</p>
</main>