<!doctype html>
<html lang=en>
<meta charset=utf-8>
<meta name=viewport content="width=device-width,initial-scale=0.75">
<title>{{.Name}} – Spork</title>
<link rel=stylesheet href="{{assetPath "/normalize.min.css"}}">
<link rel=stylesheet href="{{assetPath "/skeleton.min.css"}}">
<link rel=stylesheet href="{{assetPath "/playlist.css"}}">
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Raleway&amp;display=swap">
<main class=container>
<h1>{{.Name}}</h1>
<p class=error></p>
<ol class=playlist>
{{- range $idx, $entry := .Entries}}
<li{{if eq $idx $.Active}} class=active id="current"{{end}}>
<details>
<summary><a href="/jump/{{$idx}}">{{.Title}}</a> ({{FormatLength .Length}}) <a href="/download/{{$idx}}" title="Download {{.Title}}">➚</a></summary>
{{with .Name -}}  <p>Title:  {{.}}</p>{{end}}
{{with .Artist -}}<p>Artist: {{.}}</p>{{end}}
{{with .Album -}} <p>Album:  {{.}}</p>{{end}}
{{with .Year -}}  <p>Year:   {{.}}</p>{{end}}
<p>Length: {{FormatLength .Length}}</p>
</details>
</li>
{{- end}}
</ol>
</main>
<script defer type=module src="{{assetPath "/playlist.js"}}"></script>